<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-11">
                         
      <span><strong>Buenos Aires (Argentina)</strong></span>
                          
    </div>

    <div class="col-xs-12 col-md-6 col-lg-1 text-center">
                         
             
        <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
          data-bs-toggle="modal" data-bs-target="#ciudadper"></i></a></div>
          
                                           
    </div>
  </div>
  
