<div class="card" style="width: 18rem;">
    <img src="./../../../assets/img/rojo.png" class="card-img-top" alt="Proyectos Jorge Lesme">
    <div class="card-body">
      <h5 class="card-title">En Proyecto</h5>
      <p class="card-text">Espacios listos para los proyectos que que estan siendo desarrollados actualmente, pero podemos agregar mas lugares para agregar la de TU EMPRESA.</p>
      <a href="#" class="btn btn-primary">Link a Futuro Proyecto</a>
    </div>
  </div>

  <ul class="list-group list-group-horizontal uticla">

    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
      data-bs-toggle="modal" data-bs-target="#infoproye2"></i></a></div>

    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
   
  </ul>