<section><!-- Inicio Modal Acceso de Usuario -->          
    
    <div class="modal fade" id="accesoUsuario" tabindex="-1" aria-labelledby="accesoUsuarioEtiqueta" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title f-5" id="accesoUsuarioEtiqueta">Inicio de Secion</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             
              <form>
                <div class="mb-3">
                  <label for="accesoUsuarioInputEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="accesoUsuarioInputEmail" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Campos Obligatorios</div>
                </div>
                <div class="mb-3">
                  <label for="accesoUsuarioInputPassword" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="accesoUsuarioInputPassword">
                </div>
              </form>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Ingresar</button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoUsuario">
                Nuevo Usuario
              </button>
            </div>
          </div>
        </div>
      </div>
                
        </section><!--Fin Modal Acceso de Usuario-->
