<section><!--Inicio de Seccion Proyectos-->

    <div class="container-flui text-center"><!--Inicio Contenedor proyectos-->
    
        <app-proyetitulo></app-proyetitulo>
        
      <div class="row p-3"><!--Inicio Primer proyecto-->
        <div class="col-xs-12 col-md-6 col-lg-4 text-center"><!--Inicio primera columna Primer proyecto-->
                               
            <app-proyeuno></app-proyeuno>
                    
        </div><!--Fin primera columna Primer Estudio-->
    
        <div class="col-xs-12 col-md-6 col-lg-4"><!--Inicio primera columna Primer proyecto-->
                               
            <app-proyedos></app-proyedos>
                    
        </div><!--Fin primera columna Primer Estudio-->
           
        <div class="col-xs-12 col-md-6 col-lg-4"><!--Inicio Tercera columna Experiencia Laboral-->
    
            <app-proyetres></app-proyetres>
    
        </div><!--Fin Tercera columna Primera Experiencia Laboral-->
    
      </div><!--Fin Primer proyecto-->
            
      
    </div><!--Fin Contenedor Experiencia Laboral-->
    
    </section><!--Fin Sección proyectos-->
