<div class="row p-3"><!--Inicio Cuarto Estudio-->
    <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna cuarto Estudio-->
                           
      <div class="row"><!--Inicio Logo cuarto Estudio-->
        <div class="col-xs-12 col-md-6 col-lg-8">
           
          <img class="logoapdos letranegra" src="./../../../assets/img/logoap2.png" alt="Logo Utic">

        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">

            <ul class="list-group list-group-horizontal uticla">

              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                  data-bs-toggle="modal" data-bs-target="#estu4logo"></i></a></div>

              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
           
            </ul>

        </div>

      </div><!--Fin logo Cuart0 Estudio-->
                
    </div><!--Fin primera columna Cuarto Estudio-->

    <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna cuarto Estudio-->
                           
      <h4 class="institu"><i><strong>Argentina Programa</strong></i></h4>
      <h5 class="bajo">Desarrollador FullStack</h5>
      <h6 class="bajo">Buenos Aires - Argentina</h6>
                        
    </div><!--Fin Segunda columna Cuarto Estudio-->
       
    <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna cuarto Estudio-->

      <ul class="list-group list-group-horizontal uticla">

        <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
          data-bs-toggle="modal" data-bs-target="#infoestu4"></i></a></div>

        <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
       
      </ul>

    </div><!--Fin Tercera columna Cuarto Estudio-->

  </div><!--Fin Cuarto Estudio-->
