<div class="row p-3"><!--Inicio Segundo Estudio-->
    <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna Segundo Estudio-->
                           
      <div class="row"><!--Inicio Logo Segundo Estudio-->
        <div class="col-xs-12 col-md-6 col-lg-8">
           
          <img class="logodr" src="./../../../assets/img/raulpeña.png" alt="Logo Dr. Raul Peña">

        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">

            <ul class="list-group list-group-horizontal uticla">

              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                  data-bs-toggle="modal" data-bs-target="#estu2logo"></i></a></div>

              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
           
            </ul>

        </div>

      </div><!--Fin logo Segundo Estudio-->
                
    </div><!--Fin primera columna Segundo Estudio-->

    <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna Segundo Estudio-->
                           
      <h4 class="institu"><i><strong>Colegio E.M.D. Dr. Raul Peña"</strong></i></h4>
      <h5 class="bajo">Bachiller Tecnico en Informatica</h5>
      <h6 class="bajo">Caacupé - Paraguay</h6>
                        
    </div><!--Fin Segunda columna Segundo Estudio-->
       
    <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna Segundo Estudio-->

      <ul class="list-group list-group-horizontal uticla">

        <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
          data-bs-toggle="modal" data-bs-target="#infoestu2"></i></a></div>

        <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
       
      </ul>

    </div><!--Fin Tercera columna Segundo Estudio-->

  </div><!--Fin Segundo Estudio-->
