.profile-image {
   background-image: url(../fotojl/img/JL3.png);
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    margin-top: -10rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    z-index: 1;
}
