<!-- Inicio Modal Modificar Botones  -->          
  
<div class="modal fade" id="botones3" tabindex="-1" aria-labelledby="accesoUsuarioEtiqueta" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title f-5" id="accesoUsuarioEtiqueta">Botones Seccion Perfil</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
          <form>
            <div class="mb-3">
              
              <label for="homepage">Ingresar URL Tengo Interes:</label>
              <input type="url" id="homepage" name="homepage">

            </div>
            <div class="mb-3">
              
              <label for="homepage">Ingresar URL Añadir Seccion:</label>
              <input type="url" id="homepage" name="homepage">

            </div>

            <div class="mb-3">
              
              <label for="homepage">Ingresar URL Mas:</label>
              <input type="url" id="homepage" name="homepage">

            </div>

          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Modificar</button>
        </div>
      </div>
    </div>
  </div>
            
<!--Fin Modal Modificar Botones-->
