<div class="row p-3"><!--Inicio Tercer Estudio-->
    <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna Tercer Estudio-->
                           
      <div class="row"><!--Inicio Logo Tercer Estudio-->
        <div class="col-xs-12 col-md-6 col-lg-8">
           
          <img class="logoutic" src="./../../../assets/img/utic.png" alt="Logo Utic">

        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">

            <ul class="list-group list-group-horizontal uticla">

              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                  data-bs-toggle="modal" data-bs-target="#estu3logo"></i></a></div>

              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
           
            </ul>

        </div>

      </div><!--Fin logo Tercer Estudio-->
                
    </div><!--Fin primera columna Tercer Estudio-->

    <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna Tercer Estudio-->
                           
      <h4 class="institu"><i><strong>Universidad Tecnologica Intercontinental "UTIC"</strong></i></h4>
      <h5 class="bajo">Ingenieria en Sitemas Informaticos</h5>
      <h6 class="bajo">Caacupé - Paraguay</h6>
                        
    </div><!--Fin Segunda columna Tercer Estudio-->
       
    <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna Tercer Estudio-->

      <ul class="list-group list-group-horizontal uticla">

        <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
          data-bs-toggle="modal" data-bs-target="#infoestu3"></i></a></div>

        <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
       
      </ul>

    </div><!--Fin Tercera columna Tercer Estudio-->

  </div><!--Fin Tercer Estudio-->
