<div class="row"><!--Inicio Logo Primera Experiencia Laboral-->
    <div class="col-xs-12 col-md-6 col-lg-8">
       
      <img class="logo1exp" src="./../../../assets/img/repacompu.png" alt="Logo computadoras">

    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">

        <ul class="list-group list-group-horizontal uticla">

          <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
              data-bs-toggle="modal" data-bs-target="#expla1logo"></i></a></div>

          <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
       
        </ul>

    </div>

  </div><!--Fin logo Primera Experiencia Laboral-->
