
.letranegra{
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1)
    }
    .margen{
        padding-top: 4rem;
    }
    .logo2{
        width: 14rem;
        height: 5rem;
    }