<div class="row margen">
                  
    <div class="col-xs-12 col-md-6 col-lg-11">
         
      <div><img src="./../../../assets/img/logoap2.png" alt="Logo Argentina Programa" class="w-110 letranegra logo2"></div>
                     
    </div>
    <div class="col-xs-12 col-md-6 col-lg-1">
         
      <div class="btn-edit"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
        data-bs-toggle="modal" data-bs-target="#infoperderutic"></i></a></div>
                   
    </div>

  </div>