<div class="row">
                  
    <div class="col-xs-12 col-md-6 col-lg-11">
         
      <img src="./../../../assets/img/utic.png" alt="Logo UTIC" class="w-110 utic"><span class="utic2"><strong>UTIC</strong></span>
                     
    </div>
    <div class="col-xs-12 col-md-6 col-lg-1">
         
      <div class="btn-edit"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
        data-bs-toggle="modal" data-bs-target="#infoperderutic"></i></a></div>
                   
    </div>

  </div>

