    
    <!--Sección Banner Inicio-->

<div class="container-fluid text-center banner">
    <div class="row">
        
      <div class="col-xs-12 col-md-6 col-lg-11">

        <div class="btn-edit ban"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
          data-bs-toggle="modal" data-bs-target="#fotoban"></i></a></div> 
      </div>

     </div>
</div>
    <!--Sección Banner Final-->
    <section><!--Sección Informacion del Banner Inicio-->

        <div class="container-fluid text-center">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-5">
                
                <app-fotojl></app-fotojl>

                <app-bannombre></app-bannombre>

                <app-bantitulo></app-bantitulo>
                  
                <app-banciudad></app-banciudad> 
                  
                <app-banbotones></app-banbotones>  
                     
              </div>
      
              <div class="col-xs-12 col-md-6 col-lg-7 text-end">
      
                <app-baninfoderecha></app-baninfoderecha>
      
                <app-banderedos></app-banderedos>

            </div>
        </div>
        
        <app-bannerimagen></app-bannerimagen>
        <app-modfotjl></app-modfotjl>
        <app-modnombre></app-modnombre>
        <app-modtitulo></app-modtitulo>
        <app-modciudad></app-modciudad>
        <app-modbotones></app-modbotones>
        <app-modinfodere></app-modinfodere>
        <app-modinfoder1></app-modinfoder1>