<app-navbar></app-navbar>
<app-banner></app-banner>
<app-acercademi></app-acercademi>
<app-educacion></app-educacion>
<app-laboral></app-laboral>
<app-habilidades></app-habilidades>
<app-proyectos></app-proyectos>

<!--Modales-->
<app-login></app-login>
<app-nuevousuario></app-nuevousuario>
<app-modigruredes></app-modigruredes>
<app-edutitu></app-edutitu>
<app-logodr></app-logodr>
<app-infouno></app-infouno>
<app-logoedudos></app-logoedudos>
<app-infoedudos></app-infoedudos>
<app-modedutres></app-modedutres>
<app-moduinfotres></app-moduinfotres>
<app-modlogoeducua></app-modlogoeducua>
<app-modeduinfocua></app-modeduinfocua>
<app-modlaboral></app-modlaboral>
<app-expelogouno></app-expelogouno>
<app-expeinfouno></app-expeinfouno>
<app-explogodos></app-explogodos>
<app-expeinfodos></app-expeinfodos>
<app-expelogotres></app-expelogotres>
<app-expeinfotres></app-expeinfotres>
<app-modhabititulo></app-modhabititulo>
<app-modhabiuno></app-modhabiuno>
<app-modhabidos></app-modhabidos>
<app-modhabitres></app-modhabitres>
<app-modhabicuatro></app-modhabicuatro>
<app-modhabicinco></app-modhabicinco>
<app-tituproye></app-tituproye>
<app-unoproye></app-unoproye>
<app-dosproye></app-dosproye>
<app-tresproye></app-tresproye>

<router-outlet></router-outlet>