<div class="card" style="width: 18rem;">
    <img src="./../../../assets/img/proye.png" class="card-img-top" alt="Proyectos Jorge Lesme">
    <div class="card-body">
      <h5 class="card-title">Proyecto Actual</h5>
      <p class="card-text">Primer proyecto exitoso que sumo integrantes y usuarios de nuestros servicios de excelente calidad.</p>
      <a href="#" class="btn btn-primary">Visitar Proyecto</a>
    </div>
  </div>

  <ul class="list-group list-group-horizontal uticla">

    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
      data-bs-toggle="modal" data-bs-target="#infoproye1"></i></a></div>

    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
   
  </ul>