<section><!--Inicio de Seccion Fuerzas y Debilidades-->

    <div class="container-flui text-center"><!--Inicio Contenedor Fuerzas y Habilidades-->
    
      <app-habititulo></app-habititulo>
        
      <app-habiuno></app-habiuno>
            
      <app-habidos></app-habidos>
    
      <app-habitres></app-habitres>

      <app-habicuatro></app-habicuatro>
      
      <app-habicinco></app-habicinco>
      
    
    </div><!--Fin Contenedor Experiencia Laboral-->
    
    </section><!--Fin Sección Fuerzas y Debilidades-->
