<section><!-- Inicio Modal Modificar Info Proyecto 3 -->          
  
    <div class="modal fade" id="infoproye3" tabindex="-1" aria-labelledby="accesoUsuarioEtiqueta" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title f-5" id="accesoUsuarioEtiqueta">Modificar Info Proyecto 3</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             
              <form>
                <div class="mb-3">
                  
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Ingrese Titulo Proyecto 3</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text">
                  </div>
  
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Ingrese Nueva Info Proyecto 3</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
  
                  <div class="mb-3">
              
                    <label for="homepage">Ingresar URL Proyecto 3:</label>
                    <input type="url" id="homepage" name="homepage">
    
                  </div>
  
                </div>
                   
              </form>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Modificar</button>
            </div>
          </div>
        </div>
      </div>
                
  </section><!--Fin Modal Modificar Info Proyecto 3-->