<section><!--Inicio de Seccion Experiencia Laboral-->

    <div class="container-flui text-center"><!--Inicio Contenedor Experiencia Laboral-->
    
        <app-expetitulo></app-expetitulo>
        
      <div class="row p-3"><!--Inicio Primera Experiencia Laboral-->
        <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna Primera Eperiencia Laboral-->
                               
            <app-laboraunologo></app-laboraunologo>
            
                    
        </div><!--Fin primera columna Primer Estudio-->
    
        <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna Primer Estudio-->
                               
            <app-expeuno></app-expeuno>
                            
        </div><!--Fin Segunda columna Primera Experiencia Laboral-->
           
        <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna Experiencia Laboral-->
    
          <ul class="list-group list-group-horizontal uticla">
    
            <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
              data-bs-toggle="modal" data-bs-target="#infoexpla1"></i></a></div>
    
            <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
           
          </ul>
    
        </div><!--Fin Tercera columna Primera Experiencia Laboral-->
    
      </div><!--Fin Primera Experiencia Laboral-->
            
      <app-laboraldos></app-laboraldos>
    
      <app-laboraltres></app-laboraltres>
    
    
    </div><!--Fin Contenedor Experiencia Laboral-->
    
    </section><!--Fin Sección Experiencia Laboral-->
