<section><!-- Inicio Modal Modificar Info Experiencia Laboral 3 -->          
  
    <div class="modal fade" id="infoexpla3" tabindex="-1" aria-labelledby="accesoUsuarioEtiqueta" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title f-5" id="accesoUsuarioEtiqueta">Modificar Info Experiencia Laboral 3</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             
              <form>
                <div class="mb-3">
                  
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Ingrese Institucion</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text">
                  </div>
  
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Ingrese Puesto Ocupado</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text">
                  </div>
  
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Ingrese Ciudad - Pais</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text">
                  </div>
  
                </div>
                   
              </form>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Modificar</button>
            </div>
          </div>
        </div>
      </div>
                
  </section><!--Fin Modal Modificar Info Experiencia Laboral 3-->
